.main-button {
  width: 35px;
  height: 35px;
  border: 1px solid #b2e422;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease;
}

.main-button:hover {
  background: #b2e422 !important;
}

.main-button:hover svg path {
  fill: rgb(53, 53, 53);
}

.main-button svg {
  width: 15px;
  height: 15px;
}
